.container--deals {
  color: #ffffff;
  text-align: center;
  justify-content: center;
}

.container--shelfTitle {
  color: #727273;
  justify-content: center;
  text-align: center;
}

.headingLevel2--shelfTitle {
  font-weight: 200;
}

.container--deals .paragraph {
  margin: 0;
}

.container--link {
  justify-content: center;
}

.container--question {
  justify-content: center;
}

.container--question .paragraph {
  text-align: center;
  max-width: 540px;
  margin: 0 16px;
  padding-top: 120px;
  color: #03034E;
}

.container--question .strong {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}

.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #03034E;
}

.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #03034E;
}

.container--title {
  color: #03034E;
  font-size: 28px;
  font-weight: 700;
}

@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }

  .container--about {
    max-width: 85%;
  }

  .container--title {
    color: #03034E;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }

  .container--title .paragraph {
    line-height: 1.3em;
  }
}


/* HOME */
.paragraph--deals{
  text-align: left;
  font: normal normal 16px/20px Poppins Regular;
  color: #202020;
}
.container--shelfTitle{
  margin: 40px auto;
  max-width: 1214px;
}
.wrapper--shelfTitle{
  background-color: #F48120;
  text-align: left;
  color: #fff;
  font: normal normal 800 20px/30px Poppins Bold;
  width: 100%;
  padding: 0 5rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper--shelfTitle::after{
  content: 'Corre, que é por tempo limitado';
  font: italic normal 300 14px/21px Poppins Italic;
    color: #FFFFFF;
}
.wrapper--shelfTitle.wrapper--text_halfbar::after {
  content: 'Confira nossas novidades!';
  font: normal 14px/21px Poppins Regular;
    color: #FFFFFF;
    font-weight: 700;
}
.paragraph--text__atendimento {
  font: normal normal 300 15px/13px Poppins Regular;
    color: #202020;
    position: relative;
}


.wrapper--follow__texto {
  font: normal normal normal 14px/21px Poppins Regular;
  color: #FFFFFF;
}

.container--follow__texto {
  justify-content: center;
  margin-bottom: 1rem;
}

.paragraph--box-atendimento {
  border-radius: 8px;
  padding: 0 14px;
  color: #000;
  font: normal normal normal 14px/21px Poppins Regular;
  width: 265px;
}

.paragraph--box-atendimento .link--box-atendimento {
  color: #002D71;
  font-weight: 600;
  text-decoration: none;
  margin-left: 6px;
}

.wrapper--text__atendimento:hover .paragraph--box-atendimento {
  display: block;
}
.vtex-overlay-layout-0-x-dropdown {
  top: 4rem;
}

.wrapper--404__page {
  font: normal normal normal 35px/20px Poppins Regular;
    color: #979797;
}

@media (min-width: 1200px) {
  .paragraph--text__atendimento::after {
    content: '';
    background: url("https://krauer.vtexassets.com/arquivos/ids/155402/angle-down.svg") no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    right: -22px;
    top: 19px;
    display: none;
  }
}

@media (max-width: 991px) {
  .wrapper--shelfTitle::after {
    display: none;
  }
  .wrapper--shelfTitle {
    justify-content: center;
  }
}
