:global(.vtex-product-summary-2-x-container ) .wishlistIconContainer{
    margin-right: 10px;
    visibility: hidden;
    transition: all .2s;
}
.wishlistIconContainer{
    transition: all .2s;
}

:global(.vtex-product-summary-2-x-container ):hover .wishlistIconContainer{
    visibility: visible;
}

:global(.vtex-product-summary-2-x-container ) :global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button__label){
    background: #E6E6E6;    
    padding: 7px!important;
    box-shadow: 0px 3px 6px #00000029;
}