.productBrandName--summaryListDesktop {
  text-decoration: none;
  font-weight: 500;
  color: #0067C7;
  font-size: .875rem;
}

.productBrandName--summaryListMobile {
  text-decoration: none;
  color: #0067C7;
  font-size: .875rem;
}

:global(.vtex-search-result-3-x-searchResultContainer) :global(.vtex-button),
:global(.vtex-search-result-3-x-searchResultContainer) :global(.vtex-button):hover{
  background-color: #000;
  border: none;
}
:global(.vtex-flex-layout-0-x-flexRow--buyNowButton) :global(.vtex-button){
    background: #eee!important;
}
:global(.vtex-store-components-3-x-searchBarContainer) :global(.vtex-input-prefix__group),
:global(.vtex-store-components-3-x-inputGroup) :global(.vtex-input-prefix__group)   {
  border: 0;
}
:global(.vtex-address-form__postalCode) {
  padding-bottom: 0;
}
@media (max-width: 991px) {
  :global(.vtex-search-result-3-x-searchResultContainer) {
    width: 100%;
  }
  :global(.vtex-store-components-3-x-searchBarContainer) {
    box-shadow: inherit;
  }
}

